@page
@model SampleApp.Pages.GetDistinctDataFromExcelFilesModel
@{
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<script type="text/javascript">
    toastr.success('Have fun storming the castle!', 'Miracle Max Says')
</script>
<h1>Lọc trùng dữ liệu</h1>
<code>Các file so sánh phải có header của cột A là phoneNumber và cùng header</code>
<br/>
<code class="">Các file đầu vào chỉ có số điện thoại</code>
<div>

    <form method="post">
        <div class="d-flex" style="gap: 10px;">
            <div>
                <h4>Chọn file đầu vào</h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                Tên file
                            </th>
                            <th>
                                Kích thước (bytes)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.SourceFiles.Count(); i++)
                        {
                            <tr>
                                <td>
                                    <input class="select-checkbox" FileDirection="0" asp-for="SourceFiles[i].IsSelected">
                                    <input hidden asp-for="SourceFiles[i].FileName">
                                    <input hidden asp-for="SourceFiles[i].FilePath">
                                    <input hidden asp-for="SourceFiles[i].FileLength">
                                    <input hidden asp-for="SourceFiles[i].FileDirection">
                                </td>
                                <td>
                                    <b>@Model.SourceFiles.ElementAt(i).FileName</b><br>
                                </td>
                                <td class="text-center">
                                    @Model.SourceFiles.ElementAt(i).FileLength.ToString("N0")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div>
                <h4>Chọn file so sánh </h4>

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>
                                Tên file
                            </th>
                            <th>
                                Kích thước (bytes)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < Model.TargetFiles.Count(); i++)
                        {
                            <tr>
                                <td>
                                    <input class="select-checkbox" FileDirection="0" asp-for="TargetFiles[i].IsSelected">
                                    <input hidden asp-for="TargetFiles[i].FileName">
                                    <input hidden asp-for="TargetFiles[i].FilePath">
                                    <input hidden asp-for="TargetFiles[i].FileLength">
                                    <input hidden asp-for="TargetFiles[i].FileDirection">
                                </td>
                                <td>
                                    <b>@Model.TargetFiles.ElementAt(i).FileName</b><br>
                                </td>
                                <td class="text-center">
                                    @Model.TargetFiles.ElementAt(i).FileLength.ToString("N0")
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @if (Model.ErrorMessage != null && Model.ErrorMessage.Count() > 0)
        {
            @foreach (var message in Model.ErrorMessage)
            {
                <p class="text-danger">@message</p>
            }
        }
        @if (Model.IsCompareProcessing)
        {
            <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                Loading...
            </button>
        }
        else
        {
            <button asp-page-handler="Compare" class="btn btn-outline-primary" type="submit">So sánh</button>
        }

    </form>

</div>